#header(@click="reload")
  span.icon.omedeto.omedeto-wedding
  #title="Happy Wedding"
  
#info(@click="info")
  span.icon.glyphicon.glyphicon-info-sign
  template(v-if="!readed")
    #badge
      |New
