@require "./lib/layout"

#content
  float left
  text-align center

  .nickname
    position relative
    width 100%
    padding 25px

    .title
      margin 5px

    input.form-control
      display initial
      max-width 300px

  .menuButton
    position relative
    width 100%
    padding 13px

    button
      position relative
      width 250px
      font-size 15px

      .icon
        position absolute
        width 30px
        line-height 1.5
        text-align left
        font-size 25px

      .text
        position relative
        width 100%
        padding-left 35px

  .notice
    margin 20px
    padding 20px
    max-width 400px
    display inline-block
    background-color concept-color + 80%
    border-radius 10px
