@require "./lib/layout"

#content
  float left
  text-align center

  .nickname
    position relative
    width 100%
    padding 40px

    .title
      margin 5px

    input.form-control
      display initial
      max-width 300px

  .menuButton
    position relative
    width 100%
    padding 15px

    button
      position relative
      width 250px

      .icon
        position absolute
        width 20px
        line-height 2
        text-align left

      .text
        position relative
        width 100%
        padding-left 20px

  .notice
    margin 20px
    padding 20px
    max-width 400px
    display inline-block
    background-color concept-color + 80%
    border-radius 10px
