@require "./lib/layout"

concept-color = #BCE55C

#top
  position relative
  float left
  width 100%
  boxk-shadow 0 0 4px rgba(0,0,0,.25)
  background-color concept-color
  color #FFF
  z-index 10
  font-size 20px
  padding 25px 10%

  #header
    float left

    #title
      float left

#content
  position relative
  float left
  height 100%
  margin-top -78px
  padding-top 78px
  text-align center

  .nickname
    margin 40px

  .menuButton
    margin 20px

  .notice
    margin 20px
    border solid 1px #eee
    padding 10px
