@require "lib/layout"

#top
  padding initial

#content
  margin-top 0!important
  padding-top 0!important

  #view
    position relative
    width 100%
    height 100%
    text-align center
    background-color #000
    opacity .8
    white-space nowrap
    overflow scroll
    -webkit-overflow-scrolling touch

    .video
      width 100%
      height 100%
      display inline-block

      video
        max-width 100%
        height 100%

    .nickname
      position absolute
      width 100%
      bottom 40px
      font-size 40px
      color #fff

  #listLayout
    position absolute
    width 100%
    height 25%
    top 0

    #list
      position relative
      width 100%
      height 100%
      z-index 1
      background-color #000
      opacity .8
      overflow-x scroll
      -webkit-overflow-scrolling touch
      white-space nowrap
      -webkit-transition-duration .3s
      -webkit-transform translateY(-100%)

      .item
        position relative
        width 170px
        height 100%
        display inline-block
        cursor pointer

        .thumbnail
          width 100%
          height 100%
          border-radius 0
          background-color #000
          border solid 1px #333
          padding initial

          .img-thumbnail
            width 100%
            height 100%
            border-radius 0

          .explain
            position absolute
            width 100%
            height 20%
            bottom 0
            padding 10px
            background-color #000
            opacity .8
            color #FFDF24
            font-size 13px

            span.index
              position absolute

            span.nickname
              position relaitve
              float left
              width 100%
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
              text-align right
              padding-left 50px

      .item:hover, .item.active
        border solid 2px #0054FF

  #listLayout:hover
    #list
      -webkit-transform translateY(0)

  .comment, .stamp
    position absolute
    top 0
    right 0
    z-index 100

    img
      max-width 160px

  .comment
    font-size 50px
    color #FFF
    white-space nowrap
    -webkit-animation flowX 6s linear 1


@-webkit-keyframes flowX
  0%
    right -100%

  100%
    right 100%
