extends layout

block style
  link(rel="stylesheet", href="/css/index.css")

block top
  #header
    #title="Omedeto Web"
 
block content

block script
  script(src="/js/index.js")
  script(type="text/v-template")#template
    .navigator="動画一覧"
    .tool
      .search.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.col-lg-4.col-lg-offset-8
        .input-group.input-group-sm
          input.form-control(type="text", v-model="query.search", placeholder="ニックネームで検索", @keyup.enter="reloadList")
          span.input-group-btn
            button.btn.btn-primary(type="button", @click="reloadList")
              span.glyphicon.glyphicon-search
    .list
      .item.col-xs-6.col-sm-4.col-md-3(v-for="video in videos")
        .thumbnail
          .imageLayout
            img.img-thumbnail(:src="video.imagePath")
          .caption
            .nickname
              span.icon.glyphicon.glyphicon-user
              span.text(v-text="video.nickname")
          a.showVideo(@click="showVideo")
            .showText
              span.glyphicon.glyphicon-zoom-in
              span="動画を見る"


