concept-color = #BCE55C

@require "header"

body
  position absolute
  width 100%
  height 100%
  overflow hidden

  #content
    position relatvie
    float left
    width 100%
    height 100%
    margin-top -68px
    padding-top 68px
