concept-color = #FFE8FF
sm-min = 768px

@require "header"

.btn:link, .btn:visited, .btn:active, .btn:focus
  background-color initial

body
  position absolute
  width 100%
  height 100%
  overflow hidden

  #content
    position relatvie
    float left
    width 100%
    height 100%
    margin-top -68px
    padding-top 68px
